## A.R.D.E 🔥🔥🔥

Integrantes:
- Agustín Pérez
- Rayén Godoy
- Dan Salgado
- Esperanza Oliva

### Contexto y motivación

El proyecto busca acercar el conocimiento sobre los exoplanetas , planetas que orbitan estrellas fuera de nuestro sistema solar, a niños y adolescentes, mediante la creación de materiales didácticos, visuales e interactivos basados en datos reales obtenidos por la página oficial:

    * URL: https://exoplanetarchive.ipac.caltech.edu/
            https://www.jpl.nasa.gov/edu/

En los últimos años, el número de exoplanetas descubiertos ha aumentado exponencialmente, y su estudio abre nuevas preguntas sobre la habitabilidad, la composición y la diversidad de mundos en nuestra galaxia. Sin embargo, gran parte de esta información se encuentra en bases de datos científicas complejas, poco accesibles para el público general.

Este proyecto tiene como motivación transformar datos científicos en conocimiento comprensible, fomentando la curiosidad de la astronomía desde edades tempranas.

### Preguntas objetivo
* ¿Cuántos exoplanetas potencialmente habitables han sido identificados?

* ¿Cómo ha evolucionado el número de descubrimientos de exoplanetas a lo largo de los años?

* ¿Qué sistemas planetarios tienen más planetas detectados?

* ¿Cuál es la distancia promedio de los exoplanetas respecto a la Tierra según su tipo?

* ¿Existen diferencias notables en el tamaño o tipo de exoplanetas?

* ¿Que exoplanetas poseen características o condiciones similares a la tierra?

* Según la pregunta anterior, ¿Que exoplanetas podrían ser habitables?

### Analisis exploratorio de datos

In [64]:
import pandas as pd
import numpy as np

path = '../data/PS_2025.10.17_07.44.21.csv'

df = pd.read_csv(path, skiprows=292, dtype={'hd_name': str, 'hip_name': str}).set_index('rowid')
df.head(3)

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
rowid,,,,,,,,,,,,,,,,,,,,,
1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,2,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0,0
3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,2,...,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38973 entries, 1 to 38973
Columns: 288 entries, pl_name to pl_ndispec
dtypes: float64(235), int64(25), object(28)
memory usage: 85.9+ MB

In [36]:
df['pl_name'].duplicated().sum()

np.int64(32945)

In [ ]:
# Agrupar por nombre de exoplaneta
df.groupby('pl_name').size().sort_values(ascending=False)

pl_name
TrES-2 b        34
Kepler-10 b     25
HAT-P-7 b       23
GJ 436 b        23
HD 209458 b     22
                ..
AB Aur b         1
AB Pic b         1
AT2021ueyL b     1
AU Mic d         1
BD+03 2562 b     1
Length: 6028, dtype: int64

In [47]:
df.groupby('hostname').size().sort_values(ascending=False)

hostname
Kepler-11                      103
Kepler-80                       95
Kepler-32                       91
KOI-351                         81
Kepler-186                      80
                              ...
WISE J033605.05-014350.4         1
WISEP J121756.91+162640.2 A      1
WTS-1                            1
2MASS J03590986+2009361          1
HD 105779                        1
Length: 4500, dtype: int64

In [62]:
# Numero de exoplanetas  
len(df['pl_name'].unique())

6028

In [21]:
for col, dtype in df.dtypes.items():
    print(f'{col}: {dtype}')

pl_name: object
hostname: object
pl_letter: object
hd_name: object
hip_name: object
tic_id: object
gaia_dr2_id: object
gaia_dr3_id: object
default_flag: int64
sy_snum: int64
sy_pnum: int64
sy_mnum: int64
cb_flag: int64
discoverymethod: object
disc_year: int64
disc_refname: object
disc_pubdate: object
disc_locale: object
disc_facility: object
disc_telescope: object
disc_instrument: object
rv_flag: int64
pul_flag: int64
ptv_flag: int64
tran_flag: int64
ast_flag: int64
obm_flag: int64
micro_flag: int64
etv_flag: int64
ima_flag: int64
dkin_flag: int64
soltype: object
pl_controv_flag: int64
pl_refname: object
pl_orbper: float64
pl_orbpererr1: float64
pl_orbpererr2: float64
pl_orbperlim: float64
pl_orbsmax: float64
pl_orbsmaxerr1: float64
pl_orbsmaxerr2: float64
pl_orbsmaxlim: float64
pl_rade: float64
pl_radeerr1: float64
pl_radeerr2: float64
pl_radelim: float64
pl_radj: float64
pl_radjerr1: float64
pl_radjerr2: float64
pl_radjlim: float64
pl_masse: float64
pl_masseerr1: float64
pl_masseerr2: float64
pl_masselim: float64
pl_massj: float64
pl_massjerr1: float64
pl_massjerr2: float64
pl_massjlim: float64
pl_msinie: float64
pl_msinieerr1: float64
pl_msinieerr2: float64
pl_msinielim: float64
pl_msinij: float64
pl_msinijerr1: float64
pl_msinijerr2: float64
pl_msinijlim: float64
pl_cmasse: float64
pl_cmasseerr1: float64
pl_cmasseerr2: float64
pl_cmasselim: float64
pl_cmassj: float64
pl_cmassjerr1: float64
pl_cmassjerr2: float64
pl_cmassjlim: float64
pl_bmasse: float64
pl_bmasseerr1: float64
pl_bmasseerr2: float64
pl_bmasselim: float64
pl_bmassj: float64
pl_bmassjerr1: float64
pl_bmassjerr2: float64
pl_bmassjlim: float64
pl_bmassprov: object
pl_dens: float64
pl_denserr1: float64
pl_denserr2: float64
pl_denslim: float64
pl_orbeccen: float64
pl_orbeccenerr1: float64
pl_orbeccenerr2: float64
pl_orbeccenlim: float64
pl_insol: float64
pl_insolerr1: float64
pl_insolerr2: float64
pl_insollim: float64
pl_eqt: float64
pl_eqterr1: float64
pl_eqterr2: float64
pl_eqtlim: float64
pl_orbincl: float64
pl_orbinclerr1: float64
pl_orbinclerr2: float64
pl_orbincllim: float64
pl_tranmid: float64
pl_tranmiderr1: float64
pl_tranmiderr2: float64
pl_tranmidlim: float64
pl_tsystemref: object
ttv_flag: int64
pl_imppar: float64
pl_impparerr1: float64
pl_impparerr2: float64
pl_impparlim: float64
pl_trandep: float64
pl_trandeperr1: float64
pl_trandeperr2: float64
pl_trandeplim: float64
pl_trandur: float64
pl_trandurerr1: float64
pl_trandurerr2: float64
pl_trandurlim: float64
pl_ratdor: float64
pl_ratdorerr1: float64
pl_ratdorerr2: float64
pl_ratdorlim: float64
pl_ratror: float64
pl_ratrorerr1: float64
pl_ratrorerr2: float64
pl_ratrorlim: float64
pl_occdep: float64
pl_occdeperr1: float64
pl_occdeperr2: float64
pl_occdeplim: float64
pl_orbtper: float64
pl_orbtpererr1: float64
pl_orbtpererr2: float64
pl_orbtperlim: float64
pl_orblper: float64
pl_orblpererr1: float64
pl_orblpererr2: float64
pl_orblperlim: float64
pl_rvamp: float64
pl_rvamperr1: float64
pl_rvamperr2: float64
pl_rvamplim: float64
pl_projobliq: float64
pl_projobliqerr1: float64
pl_projobliqerr2: float64
pl_projobliqlim: float64
pl_trueobliq: float64
pl_trueobliqerr1: float64
pl_trueobliqerr2: float64
pl_trueobliqlim: float64
st_refname: object
st_spectype: object
st_teff: float64
st_tefferr1: float64
st_tefferr2: float64
st_tefflim: float64
st_rad: float64
st_raderr1: float64
st_raderr2: float64
st_radlim: float64
st_mass: float64
st_masserr1: float64
st_masserr2: float64
st_masslim: float64
st_met: float64
st_meterr1: float64
st_meterr2: float64
st_metlim: float64
st_metratio: object
st_lum: float64
st_lumerr1: float64
st_lumerr2: float64
st_lumlim: float64
st_logg: float64
st_loggerr1: float64
st_loggerr2: float64
st_logglim: float64
st_age: float64
st_ageerr1: float64
st_ageerr2: float64
st_agelim: float64
st_dens: float64
st_denserr1: float64
st_denserr2: float64
st_denslim: float64
st_vsin: float64
st_vsinerr1: float64
st_vsinerr2: float64
st_vsinlim: float64
st_rotp: float64
st_rotperr1: float64
st_rotperr2: float64
st_rotplim: float64
st_radv: float64
st_radverr1: float64
st_radverr2: float64
st_radvlim: float64
sy_refname: object
rastr: object
ra: float64
decstr: object
dec: float64
glat: float64
glon: float64
elat: float64
elon: float64
sy_pm: float64
sy_pmerr1: float64
sy_pmerr2: float64
sy_pmra: float64
sy_pmraerr1: float64
sy_pmraerr2: float64
sy_pmdec: float64
sy_pmdecerr1: float64
sy_pmdecerr2: float64
sy_dist: float64
sy_disterr1: float64
sy_disterr2: float64
sy_plx: float64
sy_plxerr1: float64
sy_plxerr2: float64
sy_bmag: float64
sy_bmagerr1: float64
sy_bmagerr2: float64
sy_vmag: float64
sy_vmagerr1: float64
sy_vmagerr2: float64
sy_jmag: float64
sy_jmagerr1: float64
sy_jmagerr2: float64
sy_hmag: float64
sy_hmagerr1: float64
sy_hmagerr2: float64
sy_kmag: float64
sy_kmagerr1: float64
sy_kmagerr2: float64
sy_umag: float64
sy_umagerr1: float64
sy_umagerr2: float64
sy_gmag: float64
sy_gmagerr1: float64
sy_gmagerr2: float64
sy_rmag: float64
sy_rmagerr1: float64
sy_rmagerr2: float64
sy_imag: float64
sy_imagerr1: float64
sy_imagerr2: float64
sy_zmag: float64
sy_zmagerr1: float64
sy_zmagerr2: float64
sy_w1mag: float64
sy_w1magerr1: float64
sy_w1magerr2: float64
sy_w2mag: float64
sy_w2magerr1: float64
sy_w2magerr2: float64
sy_w3mag: float64
sy_w3magerr1: float64
sy_w3magerr2: float64
sy_w4mag: float64
sy_w4magerr1: float64
sy_w4magerr2: float64
sy_gaiamag: float64
sy_gaiamagerr1: float64
sy_gaiamagerr2: float64
sy_icmag: float64
sy_icmagerr1: float64
sy_icmagerr2: float64
sy_tmag: float64
sy_tmagerr1: float64
sy_tmagerr2: float64
sy_kepmag: float64
sy_kepmagerr1: float64
sy_kepmagerr2: float64
rowupdate: object
pl_pubdate: object
releasedate: object
pl_nnotes: int64
st_nphot: int64
st_nrvc: int64
st_nspec: int64
pl_nespec: int64
pl_ntranspec: int64
pl_ndispec: int64

In [72]:
def agrupar(s):
    return list(pd.unique(s.dropna()))

df_por_exoplaneta = (df.groupby('pl_name', as_index=False)
            .agg({col: agrupar for col in df.columns if col != 'pl_name'}))

In [73]:

df_por_exoplaneta.head(7000)

,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,sy_snum,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,11 Com b,[11 Com],[b],[HD 107383],[HIP 60202],[TIC 72437047],[Gaia DR2 3946945413106333696],[Gaia DR3 3946945413106333696],"[1, 0]",[2],...,"[2023-09-19, 2014-07-23, 2014-05-14]","[2023-08, 2011-08, 2008-01]","[2023-09-19, 2014-07-23, 2014-05-14]",[2],[1],[2],[0],[0],[0],[0]
1,11 UMi b,[11 UMi],[b],[HD 136726],[HIP 74793],[TIC 230061010],[Gaia DR2 1696798367260229376],[Gaia DR3 1696798367260229376],"[0, 1]",[1],...,"[2018-04-25, 2018-09-04]","[2011-08, 2009-10, 2017-03]","[2014-07-23, 2014-05-14, 2018-09-06]",[0],[1],[1],[0],[0],[0],[0]
2,14 And b,[14 And],[b],[HD 221345],[HIP 116076],[TIC 333225860],[Gaia DR2 1920113512486282240],[Gaia DR3 1920113512486282240],"[0, 1]",[1],...,"[2014-05-14, 2023-09-19, 2014-07-23]","[2008-12, 2023-08, 2011-08]","[2014-05-14, 2023-09-19, 2014-07-23]",[0],[1],[1],[0],[0],[0],[0]
3,14 Her b,[14 Her],[b],[HD 145675],[HIP 79248],[TIC 219483057],[Gaia DR2 1385293808145621504],[Gaia DR3 1385293808145621504],"[1, 0]",[1],...,"[2023-06-12, 2018-04-25, 2021-09-20, 2018-09-04]","[2022-09, 2006-07, 2003-01, 2021-07, 2008-04, ...","[2023-06-12, 2014-08-21, 2021-09-20, 2018-09-0...",[0],[1],[4],[1],[0],[0],[0]
4,16 Cyg B b,[16 Cyg B],[b],[HD 186427],[HIP 96901],[TIC 27533327],[Gaia DR2 2135550755683407232],[Gaia DR3 2135550755683407232],"[1, 0]",[3],...,"[2018-09-04, 2018-04-25, 2021-09-20]","[2017-03, 2007-09, 2021-07, 2007-01, 1997-07, ...","[2018-09-06, 2014-09-18, 2021-09-20, 2014-08-2...",[5],[1],[4],[3],[0],[0],[0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,ups And b,[ups And],[b],[HD 9826],[HIP 7513],[TIC 189576919],[Gaia DR2 348020448377061376],[Gaia DR3 348020482735930112],"[0, 1]",[2],...,"[2015-04-24, 2021-08-03, 2022-05-09, 2014-09-1...","[2009-03, 2010-06, 2021-07, 2007-01, 1997-01, ...","[2015-04-24, 2021-08-03, 2022-05-09, 2014-09-1...",[5],[1],[10],[1],[0],[0],[0]
6024,ups And c,[ups And],[c],[HD 9826],[HIP 7513],[TIC 189576919],[Gaia DR2 348020448377061376],[Gaia DR3 348020482735930112],"[0, 1]",[2],...,"[2014-08-21, 2021-08-03, 2021-09-20, 2014-09-1...","[2004-01, 2010-06, 2021-07, 2007-01, 2009-03, ...","[2014-08-21, 2021-08-03, 2021-09-20, 2014-09-1...",[5],[1],[10],[1],[0],[0],[0]
6025,ups And d,[ups And],[d],[HD 9826],[HIP 7513],[TIC 189576919],[Gaia DR2 348020448377061376],[Gaia DR3 348020482735930112],"[0, 1]",[2],...,"[2014-08-21, 2019-01-28, 2021-08-03, 2015-04-2...","[2004-01, 2011-01, 2010-06, 2009-03, 2021-07, ...","[2014-08-21, 2019-01-31, 2021-08-03, 2015-04-2...",[5],[1],[10],[1],[0],[0],[0]
6026,ups Leo b,[ups Leo],[b],[],[],[TIC 49430557],[Gaia DR2 3794167001116433152],[Gaia DR3 3794167001116704000],[1],[1],...,[2022-01-10],[2021-12],[2022-01-10],[0],[0],[0],[0],[0],[0],[0]
6027,xi Aql b,[xi Aql],[b],[HD 188310],[HIP 97938],[TIC 375464367],[Gaia DR2 4298361114750843904],[Gaia DR3 4298361114753012992],"[0, 1]",[1],...,"[2014-07-23, 2023-09-19, 2014-05-14]","[2011-08, 2023-08, 2008-06]","[2014-07-23, 2023-09-19, 2014-05-14]",[1],[1],[1],[0],[0],[0],[0]

In [22]:
# Dataframe con algunas columnas que nos sirven creo, si quieren agregar mas o quitar denle nomas - agustin
# Las columnas que elegi por ahora son:

# Datos del exoplaneta
hostname = 'hostname'  # Nombre de la estrella principal
pl_name = 'pl_name'  # Nombre del exoplaneta

# Datos orbitales
pl_orbper = 'pl_orbper'  # Periodo orbital (días)
pl_orbsmax = 'pl_orbsmax'  # Semieje mayor (UA), determina distancia media a la estrella

# Datos físicos del planeta
pl_rade = 'pl_rade'  # Radio del planeta (en tierras)
pl_masse = 'pl_masse'  # Masa del planeta (en tierras)
pl_dens = 'pl_dens'  # Densidad del planeta (g/cm^3), indica composición (rocoso/gaseoso)

# Datos de temperatura
pl_orbeccen = 'pl_orbeccen'  # Excentricidad orbital, mide estabilidad de temperatura
pl_eqt = 'pl_eqt'  # Temperatura de equilibrio (K), aproxima la temperatura superficial
pl_insol = 'pl_insol'  # Flujo de insolación [Tierra=1], indica energía recibida del sol

# Datos de la estrella (afectan energía recibida)
st_teff = 'st_teff'  # Temperatura efectiva estelar (K)
st_rad = 'st_rad'  # Radio de la estrella (en radios solares)
st_lum = 'st_lum'  # Luminosidad estelar (en log(Solar))
st_mass = 'st_mass'  # Masa de la estrella (en masas solares)

# Contexto observacional
sy_dist = 'sy_dist'  # Distancia al sistema (parsecs, distancia a la Tierra creo)
sy_snum = 'sy_snum'  # Número de estrellas en el sistema (1=solitario, >1=sistema múltiple)

In [23]:
# Dataframe con las columnas seleccionadas
df_exoplanets = df[[hostname, pl_name,
                    pl_orbper, pl_orbsmax,
                    pl_rade, pl_masse, pl_dens,
                    pl_orbeccen, pl_eqt, pl_insol,
                    st_teff, st_rad, st_lum, st_mass,
                    sy_dist, sy_snum]]

df_exoplanets.head(7)

,hostname,pl_name,pl_orbper,pl_orbsmax,pl_rade,pl_masse,pl_dens,pl_orbeccen,pl_eqt,pl_insol,st_teff,st_rad,st_lum,st_mass,sy_dist,sy_snum
rowid,,,,,,,,,,,,,,,,
1,11 Com,11 Com b,323.21000,1.178,NaN,NaN,NaN,0.238,NaN,NaN,4874.0,13.76,1.97823,2.09,93.1846,2
2,11 Com,11 Com b,NaN,1.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.60,93.1846,2
3,11 Com,11 Com b,326.03000,1.290,NaN,NaN,NaN,0.231,NaN,NaN,4742.0,19.00,2.24300,2.70,93.1846,2
4,11 UMi,11 UMi b,NaN,1.510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.70,125.3210,1
5,11 UMi,11 UMi b,516.22000,1.540,NaN,NaN,NaN,0.080,NaN,NaN,4340.0,24.08,NaN,1.80,125.3210,1
6,11 UMi,11 UMi b,516.21997,1.530,NaN,NaN,NaN,0.080,NaN,NaN,4213.0,29.79,NaN,2.78,125.3210,1
7,14 And,14 And b,185.84000,0.830,NaN,NaN,NaN,0.000,NaN,NaN,4813.0,11.00,1.76300,2.20,75.4392,1

In [26]:
# Dataframe con las columnas para el tipo de descubrimiento y asi, pense que seria util - agustin sjjsjs

# Método de descubrimiento y contexto
discoverymethod = 'discoverymethod'  # Método de descubrimiento
discovery_year = 'disc_year'  # Año de descubrimiento
disc_refname = 'disc_refname'  # Referencia del descubrimiento
disc_pubdate = 'disc_pubdate'  # Fecha de publicación del descubrimiento
disc_locale = 'disc_locale'  # Lugar del descubrimiento
disc_facility = 'disc_facility'  # Instalación del descubrimiento
disc_telescope = 'disc_telescope'  # Telescopio del descubrimiento
disc_instrument = 'disc_instrument'  # Instrumento del descubrimiento

# Métodos de detección (flags)
rv_flag = 'rv_flag'  # Detectado por variaciones de velocidad radial
pul_flag = 'pul_flag'  # Detectado por variaciones de tiempo de púlsar
ptv_flag = 'ptv_flag'  # Detectado por variaciones de tiempo de pulsación
tran_flag = 'tran_flag'  # Detectado por tránsitos
ast_flag = 'ast_flag'  # Detectado por variaciones astrométricas
obm_flag = 'obm_flag'  # Detectado por modulaciones de brillo orbital
micro_flag = 'micro_flag'  # Detectado por microlente
etv_flag = 'etv_flag'  # Detectado por variaciones de tiempo de eclipses
ima_flag = 'ima_flag'  # Detectado por imágenes
dkin_flag = 'dkin_flag'  # Detectado por cinemática de disco

soltype = 'soltype'  # Tipo de solución (confirmado, candidato, falso positivo)

In [27]:
df_discovery = df[[discoverymethod, discovery_year,
                   disc_refname, disc_pubdate, disc_locale,
                   disc_facility, disc_telescope, disc_instrument,
                   rv_flag, pul_flag, ptv_flag, tran_flag,
                   ast_flag, obm_flag, micro_flag, etv_flag,
                   ima_flag, dkin_flag, soltype]]

df_discovery.head(7)

,discoverymethod,disc_year,disc_refname,disc_pubdate,disc_locale,disc_facility,disc_telescope,disc_instrument,rv_flag,pul_flag,ptv_flag,tran_flag,ast_flag,obm_flag,micro_flag,etv_flag,ima_flag,dkin_flag,soltype
rowid,,,,,,,,,,,,,,,,,,,
1,Radial Velocity,2007,<a refstr=LIU_ET_AL__2008 href=https://ui.adsa...,2008-01,Ground,Xinglong Station,2.16 m Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
2,Radial Velocity,2007,<a refstr=LIU_ET_AL__2008 href=https://ui.adsa...,2008-01,Ground,Xinglong Station,2.16 m Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
3,Radial Velocity,2007,<a refstr=LIU_ET_AL__2008 href=https://ui.adsa...,2008-01,Ground,Xinglong Station,2.16 m Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
4,Radial Velocity,2009,<a refstr=DOLLINGER_ET_AL__2009 href=https://u...,2009-10,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
5,Radial Velocity,2009,<a refstr=DOLLINGER_ET_AL__2009 href=https://u...,2009-10,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
6,Radial Velocity,2009,<a refstr=DOLLINGER_ET_AL__2009 href=https://u...,2009-10,Ground,Thueringer Landessternwarte Tautenburg,2.0 m Alfred Jensch Telescope,Coude Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed
7,Radial Velocity,2008,<a refstr=SATO_ET_AL__2008 href=https://ui.ads...,2008-12,Ground,Okayama Astrophysical Observatory,1.88 m Telescope,HIDES Echelle Spectrograph,1,0,0,0,0,0,0,0,0,0,Published Confirmed

### Datos

Los datos se obtienen de la URL: https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS usando TAP , descargando los datos de la tabla en formato CSV. Son datos estructurados, compuestos por:

* Tipos de datos :
    * float64(235), int64(25), object(28)
* 38973 filas, que corresponden a 38973 entradas de exoplanetas (posiblemente de un mismo planeta algunas ya que esta informacion es obtenida atravez de diferentes misiones, en las cuales se pudo haber divisado el mismo planeta)
* 288 columnas, que corresponden a los atributos encontrados de cada exoplaneta